    <h1>MARKET CAP BASED TRADE RECOMMENDATION SYSTEM</h1>
    <body>
<img id="img1" src="assets/images/login.png" alt="Market Cap">
<form [formGroup]="formGroup" (ngSubmit)="loginProcess()">
    <br>
    <label id="enter_user" class="label_login">Enter User ID:</label>
    <br><br>
    <input type="text" placeholder="User ID" formControlName="user_id">
    <br>
    <label id="enter_password" class="label_login">Enter Password:</label>
    <br><br>
    <input type="password" placeholder="**********" formControlName="password" >
    <input type="submit" id="login_button" value="LOGIN" class="center">
</form>

</body>
